# Xcode
#
build/
ios/*.pbxuser
!default.pbxuser
ios/*.mode1v3
!default.mode1v3
ios/*.mode2v3
!default.mode2v3
ios/*.perspectivev3
!default.perspectivev3
xcuserdata
ios/*.xccheckout
ios/*.moved-aside
DerivedData
ios/*.hmap
ios/*.ipa
ios/*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# ios/Pods/

.DS_Store
*~
